/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 10px;
  }